<div class="panel panel-default option-filter">
  <div class="panel-heading">{{ heading_title }}</div>
  <div class="list-group option-filter-box">
  		<div class="list-group"> 
  			{% for filter_group in filter_groups %}
			<div class="list-group-items">
				<a class="list-group-item">{{ filter_group.name }}</a>
				<div class="list-group-item">
			  	<div id="filter-group{{ filter_group.filter_group_id }}">
				{% for filter in filter_group.filter %}
				<div class="checkbox">
				  <label>
					{% if filter.filter_id in filter_category %}
					<input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
					{{ filter.name }}
					{% else %}
					<input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
					{{ filter.name }}
					{% endif %}
				  </label>
				</div>
				{% endfor %}
		  	</div>
			</div>
		</div>
    {% endfor %}
	</div>
  <div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>
</div>
<script><!--
				$('#button-filter').on('click', function() {
					filter = [];
					$('input[name^=\'filter\']:checked').each(function(element) {
						filter.push(this.value);
					});
					href = '{{ action }}&filter=' + filter.join(',');
					div = ' #content';
					load_href = href + div;
					$(div).load(load_href, function() {
						$(this).children(':first').unwrap();

	// Product List
	$('#list-view').click(function() {
		$('#grid-view').removeClass('active');
		$('#short-view').removeClass('active');
		$('#list-view').addClass('active');
		$('#content .product-grid > .clearfix').remove();
		$('#content .product-sort > .clearfix').remove();

		$('#content .row > .product-grid').attr('class', 'product-layout product-list col-xs-12');
		$('#content .row > .product-sort').attr('class', 'product-layout product-list col-xs-12');
		$('#content .row > .product-list .product-thumb .image').attr('class', 'image col-xs-5 col-sm-4 col-md-3');
		$('#content .row > .product-list .product-thumb .thumb-description').attr('class', 'thumb-description col-xs-7 col-sm-8 col-md-9');
		$(".product-layout.product-list .product-thumb .image .rating").each(function(){
			$(this).insertAfter($(this).parent().parent().parent().find(".thumb-description .caption .product-description > h4"));
		});
		$(".product-layout.product-list .product-thumb .image .ttproducthover").each(function(){
		    $(this).appendTo($(this).parent().parent().find(".thumb-description .caption"));
		});
		localStorage.setItem('display', 'list');
	});

	// Product Grid
	$('#grid-view').click(function() {
		// What a shame bootstrap does not take into account dynamically loaded columns
		$('#list-view').removeClass('active');
		$('#short-view').removeClass('active');
		$('#grid-view').addClass('active');
		var cols = $('#column-right, #column-left').length;

		if (cols == 2) {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
			$('#content .product-sort').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
		} else if (cols == 1) {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
			$('#content .product-sort').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
		} else {
			$('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
			$('#content .product-sort').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
		}
		$('#content .row > .product-grid .product-thumb .image').attr('class', 'image col-xs-12');
		$('#content .row > .product-grid .product-thumb .thumb-description').attr('class', 'thumb-description col-xs-12');
		$(".product-layout.product-grid .product-thumb .thumb-description .caption .product-description > .rating").each(function(){
		  $(this).appendTo($(this).parent().parent().parent().parent().parent().find(".image"));
		});
		$(".product-layout.product-grid .product-thumb .thumb-description .caption .ttproducthover").each(function(){
		  $(this).appendTo($(this).parent().parent().parent().parent().find(".image"));
		});
		localStorage.setItem('display', 'grid');
	});
	
	// Product Sort
	$('#short-view').click(function() {
		// What a shame bootstrap does not take into account dynamically loaded columns
		$('#grid-view').removeClass('active');
		$('#list-view').removeClass('active');
		$('#short-view').addClass('active');
		var cols = $('#column-right, #column-left').length;

		if (cols == 2) {
			$('#content .product-gird').attr('class', 'product-layout product-sort col-xs-12');
			$('#content .product-list').attr('class', 'product-layout product-sort col-xs-12');
		} else if (cols == 1) {
			$('#content .product-gird').attr('class', 'product-layout product-sort col-xs-12');
			$('#content .product-list').attr('class', 'product-layout product-sort col-xs-12');
		} else {
			$('#content .product-gird').attr('class', 'product-layout product-sort col-xs-12');
			$('#content .product-list').attr('class', 'product-layout product-sort col-xs-12');
		}
		$('#content .row > .product-sort .product-thumb .image').attr('class', 'image col-xs-3 col-sm-3 col-md-2');
		$('#content .row > .product-sort .product-thumb .thumb-description').attr('class', 'thumb-description col-xs-9 col-sm-9 col-md-10');
		$(".product-layout.product-sort .product-thumb .image .rating").each(function(){
			$(this).insertAfter($(this).parent().parent().parent().find(".thumb-description .caption .product-description > h4"));
		});
		$(".product-layout.product-sort .product-thumb .image .ttproducthover").each(function(){
			$(this).appendTo($(this).parent().parent().find(".thumb-description .caption"));
		});
		localStorage.setItem('display', 'sort');
	});

		 if (localStorage.getItem('display') == 'grid') {
			jQuery('#grid-view').trigger('click');
		  } else if (localStorage.getItem('display') == 'list'){
			jQuery('#list-view').trigger('click');
		  }
		  else if (localStorage.getItem('display') == 'sort'){
			jQuery('#short-view').trigger('click');
		  }
		  else{
			jQuery('#grid-view').trigger('click');
		  }  
					});
					setLocation(href);
					return false;
				});
				function setLocation(curLoc){
					try {
					  history.pushState(null, null, curLoc);
					  return;
					} catch(e) {}
					location.hash = '#' + curLoc;
				}
				//--></script>