<div class="tt-category-featured">
<div class="box-heading"><h3>{{ heading_title1 }}</h3></div>
<div class="ttfcat-items">
<div class="row">
<div class="category-feature tt-carousel">
  {% for category in categories %}
  <div class="item">
    <div class="content">
		<div class="cat-title">
        	<h4><a href="{{ category.href }}">{{ category.name }}</a></h4>
		</div>
      <div class="image col-xs-6 col-sm-6">
	  	<a href="{{ category.href }}">
			<img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
		</a>
	  </div>
	  <div class="caption col-xs-6 col-sm-6">
		<div class="cat-sub">
		  {% if category.children %}
		  <ul>
		  {% for child in category.children %}
		  <li><a href="{{ child.href }}" class="list-group-item">{{ child.name }}</a></li>
		  {% endfor %}
		  </ul>
		  {% endif %}
	   </div>
  	  </div> <!-- Caption END -->
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
</div>