{{ header }}
<div id="product-manufacturer" class="container {{ product_column }} {{ page_filter }}">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-10' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} {% if products|length < 1 %} print-bg-image no-manufacture-products {% endif %}">
	{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if products %}
	  <!-- Category filter START -->
	  <p class="category-compare"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></p>

      <div class="category-filter">
		<!-- Grid-List Buttons -->
        <div class="col-md-2 filter-grid-list">
          <div class="btn-group">
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="material-icons grid-on">grid_on</i></button>
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="material-icons list-on">
format_list_bulleted</i></button>
            <button type="button" id="short-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_sort }}"><i class='material-icons'>dehaze
</i></button>
          </div>
        </div>

		<!-- Show Products Selection -->
        <div class="filter-show">
		  <div class="col-md-4 text-right filter-text">
            <label class="input-group-addon control-label" for="input-limit">{{ text_limit }}</label>
		  </div>
          <div class="col-md-8 text-right filter-selection">
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

		<!-- Sort By Selection -->
        <div class="filter-sort-by">
		  <div class="col-md-3 text-right filter-text">
            <label class="input-group-addon control-label" for="input-sort">{{ text_sort }}</label>
		  </div>
          <div class="col-md-9 text-right filter-selection">
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
	  <!-- Category filter END -->

	  <!-- Manufacturer products START -->
	  <div class="category-products {{ grid_view }}">
      <div id="load-format-pagination" class="row">
	  <div class="grid-sizer"></div>
	  {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb row">
            <div class="image">
			  <a href="{{ product.href }}" class="{% if product.product_quantity==0 %} {{ "disabled" }} {% endif %}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				{% if product.product_quantity ==0 %}
				<div class="btn-outofcart {% if product.product_quantity==0 %} {{ "disabled" }} {% endif %}">
					{{ "<span class=\"out of stock\">"~product.product_stock }}</span>			
				</div>
				{% endif %}
				
			  {% if product.special %}
			    <div class="sale-icon">Sale</div>
				<span class="percent">-{{ product.percent }}%</span>
			  {% endif %}
		{% if product.rating %}
			<div class="rating">
		  {% else %}
			<div class="rating no-rating">
		  {% endif %}
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa-stack"><i class="material-icons star_off">star_border</i></span>
		  {% else %}
		  <span class="fa-stack"><i class="material-icons star_on">star</i></span>
		  {% endif %}
		   {% endfor %}
        </div>
			<div class="ttproducthover">
			  <div class="button-group">
			  <div class="tt-button-container">
					<button class="btn-cart {% if product.product_quantity<=0 %} {{ "disabled" }} {% endif %}" type="button" title="{% if product.product_quantity <=0 %}{{ product.product_stock }}{% else %}{{ button_cart }}{% endif %}" onclick="{% if product.product_quantity <=0 %}{% else %}cart.add('{{ product.product_id }}'){% endif %}"{% if product.product_quantity <=0 %}{{ "" }} 
				{% endif %}>
					 {% if product.product_quantity <=0 %}
						{{ "<i class=\"material-icons\">shopping_cart</i><span class=\"out of stock\">"~product.product_stock }}
						{% else %} 
						{{ "<i class=\"material-icons\">shopping_cart</i> <span class=\"hidden-xs hidden-sm hidden-md\">"~button_cart }}
					{% endif %}
					</span>
					</button>
				</div>
			  	<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');">
				<i class="material-icons icon-wishlist">favorite_border</i>
				<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
				<span class="loading"><i class="material-icons">cached</i></span>
				</button>
				<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');">
				<i class="material-icons icon-exchange">sync</i>
				<span title="{{ button_compare }}">{{ button_compare }}</span>
				<span class="loading"><i class="material-icons">cached</i></span>
				</button>
				<button class="btn-quickview" type="button" title="{{ button_quickview }}" onclick="tt_quickview.ajaxView('{{ product.href }}')">			
				<i class="material-icons quick_view_icon">visibility</i>
				<span title="{{ button_quickview }}">{{ button_quickview }}</span>
				<span class="loading"><i class="material-icons">cached</i></span>
				</button>
			  </div>
			</div>
			</div>

            <div class="thumb-description">
              <div class="caption">
			  <div class="product-description">
				<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
				                <p class="description">{{ product.description }}</p>
					</div>
					<div class="product-price-and-shipping">
                  {% if product.price %}
                  <div class="price"> {% if not product.special %}
                    {{ product.price }}
                    {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                    {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </div>
                  {% endif %}
				  </div>
			  </div>
            </div>
          </div>
        </div>
        {% endfor %}
		</div>
		</div>
		<!-- Manufacturer products END -->
		<!-- Load Format Pagination -->
        {% if limit < ttl %}
        <div class="row-pagination-container">
          <div class="col-sm-12 pagination-text-justify">
            <form action="post">
              <div class="btn-load-pagination" id="custom-pagination-button">
			  <button class="btn btn-primary title-button">{{ load_more }}</button> <span id="number-products">showing {{ config_catalog_limit }} {{ show_product }} {{ ttl }}</span>
			  <button class="btn btn-primary disabled load-pagination">no more product</button>
			  </div>
              
              <input type="hidden" name="load-more-botton" value="{{ config_catalog_limit }}">
              <input type="hidden" name="more-botton-category" value="{{ category_data }}">
              <input type="hidden" name="more-botton-urlcategory" value="{{ url_category }}">
              <input type="hidden" name="more-botton-path" value="{{ path }}">
              <input type="hidden" name="more-botton-sort" value="{{ sort }}">
              <input type="hidden" name="more-botton-filter" value="{{ filter }}">
              <input type="hidden" name="more-botton-order" value="{{ order }}">
              <input type="hidden" name="more-botton-totalproducts" value="{{ ttl }}">
              <input type="hidden" name="more-botton-step" id="more-step" value="{{ page }}">
            </form>
          </div>
        </div>
        {% endif %}
	  <!-- Manufacturer pagination START -->
      <div class="category-pagination">
        <div class="col-xs-6 text-left">{{ results }}</div>
        <div class="col-xs-6 text-right">{{ pagination }}</div>
      </div>
	  <!-- Manufacturer pagination END -->

      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}
	  </div>
    {{ column_right }}
	</div>
</div>
{{ footer }}